<div  ng-if="isConfigMaintained">
	<div class="modal-header">
		<button type="button" id="success-modal-close-button" class="close" ng-click="closeModal()" data-dismiss="modal">
			<span aria-hidden="true" id="success-modal-close">×</span><span class="sr-only" id="success-modal-close-text">{{'CLOSE' | translate }}</span>
		</button>
   		<h4 class="modal-title" id="success-modal-label">{{'SUCCESS' | translate}}</h4>
  	</div>

  	<div class="modal-body review-modal">
  		<form>
  			<div class="form-group row">            
	          	<div class="col-sm-12">
	          		<div class="">
	          			<label class="control-label" id="success-modal-desc">{{'SUCCESS_DESC' | translate}}</label>
	          		</div>
	          		
	           	</div> 
	        </div>
  			<div class="form-group row" >            
	          	<div class="col-sm-12">
	          		
	          		<small class="control-label" id="success-modal-referred-emails" ng-bind="referredEmails"></small> 
	          		
	           	</div> 
	        </div>
  			<div class=" row">            
	          	<div class="col-sm-12">
					* <span class="control-label" id="success-modal-success-warning"> {{'SUCCESS_WARNING' | translate}}</span>
	           	</div> 
	        </div>
  			
	    </form>
	</div>

	<div class="modal-footer">
		<div class="clearfix">
			<button type="button" id="success-close-modal" class="btn btn-primary pull-right" ng-click="closeModal()">{{'CLOSE' | translate }}</button>
		</div>
	</div> 
</div>