<div  ng-if="isConfigMaintained">

    <div class="modal-header">
        <button id="write-review-close-button" type="button" class="close" ng-click="closeModal()" data-dismiss="modal">
            <span aria-hidden="true" id="write-review-close">×</span><span class="sr-only" id="write-review-close-text">{{'CLOSE' | translate}}</span>
        </button>
        <h4 class="modal-title" id="write-review-product-name" translate="{{ 'RATE_REVIEW' }}" translate-values="{ product: product.product.name}"></h4>
    </div>
    <div class="modal-body review-modal">
        <form>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">

                            <label class="control-label pull-left" id="write-review-ratingText">{{'RATING' | translate}}</label>
                            <strong ng-if="thisUser.isMember && loyaltyConfig.showReward && showRatingPoint"><span ng-show="thisUser.loyaltyUser.memberId" class="userMargin pull-right " id="write-review-ratingPointText" ng-class="{ 'earnPointText' : review.rating===0,'earnedPointText' : review.rating > 0 }" translate="{{ 'ADVOCACY_POINTS' }}" translate-values="{ point: ratingPoint}"></span></strong>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span uib-rating class="product-rating" ng-model="review.rating" max="5" id="write-review-ratings"></span>
                            <strong ng-show="review.rating > 0"><span class="userMargin" id="write-review-ratingTextInfo-1">{{ratingText[review.rating]|translate}}</span></strong>
                            <strong ng-show="errorRating" class="text-danger" ng-hide="review.rating > 0 || !errorRating"><span class="userMargin" id="write-review-ratingTextInfo-2">{{ratingText[review.rating]|translate}}</span></strong>

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label pull-left" id="write-review-labelText">{{'WRITE_A_REVIEW' | translate}}</label>
                    <strong ng-if="thisUser.isMember && loyaltyConfig.showReward && showReviewPoint"><span ng-show="thisUser.loyaltyUser.memberId" class="userMargin pull-right" id="write-review-reviewPointText" translate="{{ 'ADVOCACY_POINTS' }}" translate-values="{ point: reviewPoint}" ng-class="{ 'earnPointText' : review.reviewComment==='','earnedPointText' : review.reviewComment!==''}" ></span></strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" id="write-review-reviewTitle" ng-model="review.reviewTitle" placeholder="{{'REVIEW_TITLE' | translate }}" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea ng-model="review.reviewComment" id="write-review-reviewComment" placeholder="{{'REVIEW_DESC' | translate }}" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-default pull-left" id="write-review-noThanksButton" ng-click="closeModal()">{{'NO_THANKS' | translate}}</button>
            <button type="submit" class="btn btn-primary pull-right" id="write-review-submitButton" ng-click="postReviewRating(review)" ng-disabled="disabledSave">{{'SUBMIT' | translate}}</button>
        </div>
    </div>
</div>